.container {
	top: 10px;
	display: flex;
	justify-content: center;
	align-items: self-start;
	min-height: 100vh;
	
}

.AddForm {
	display: flex;
	flex-direction: column;
	width: 400px; /* Adjust as needed */
	padding: 20px;
	background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	backdrop-filter: blur(5px);
}

.InputWrapper {
	position: relative;
	margin-bottom: 20px;
}

.AddForm select,
.AddForm input {
	width: 100%;
	padding: 15px;
	border: 1px solid #ccc;
	border-radius: 8px;
	background-color: rgba(67, 64, 64, 0.8);
	box-sizing: border-box;
	color: #fff; /* Text color for inputs */
}

.ButtonWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
}

.AddForm button {
	width: 100%;
	padding: 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1rem;
}

.AddForm button:hover {
	background-color: #0056b3;
}

.InputWrapper {
	position: relative; /* Ensure the error message positioning does not affect layout */
	margin-bottom: 1.5rem; /* Space between input fields and error messages */
}

.errorMessage {
	color: red;
	font-size: 0.875rem; /* Adjust font size as needed */
	font-weight: bold;
	position: absolute; /* Positioning for error message */
	bottom: -2rem; /* Position error message below input field */
	left: 0; /* Align error message to the left of the input field */
	width: 100%; /* Make the error message span the full width of the input field */
	margin-top: 0.5rem; /* Space above the error message */
	box-sizing: border-box; /* Include padding and border in the element’s total width and height */
}

.successMessage {
	color: green;
	font-weight: bold;
	margin-top: 10px;
}
