.background-video-div {
	width: 100%;

	overflow: hidden;
}

.background-video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}

.header-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 20px;
	color: white;
	background: rgba(0, 0, 0, 0.5);
	/* Optional: Add a semi-transparent background for readability */
}

.blurred {
	filter: blur(5px); /* Adjust blur amount as needed */
 }