@import './variables.module.css';

.bio-card {
  width: 90%;
  max-width: 700px;
  margin: 0 auto;
  padding: var(--medium-spacing);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--shadow-color);
  backdrop-filter: blur(7px);
  box-sizing: border-box;
  margin-bottom: var(--container-margin-bottom);
}

.bio-card-content {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--font-color-white);
}

@media (max-width: 768px) {
  .bio-card {
    width: 95%;
    padding: 15px;
  }

  .bio-card-content {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .bio-card {
    width: 100%;
    padding: 10px;
  }

  .bio-card-content {
    font-size: 0.8rem;
  }
}
