/* DreamscoresPage.module.css */

.container {
	/*background: rgba(0, 0, 0, 0.5); Semi-transparent background*/
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	width: 70%;
	max-width: 800px;
	margin: auto;
	backdrop-filter: blur(5px); /* Blur the background */
	background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Example box shadow */
	backdrop-filter: blur(5px); 

}

.list {
	display: flex;
	flex-direction: column;
	gap: 10px;
	
}

.item {
	/*background: rgba(255, 255, 255, 0.8); Slightly transparent white background*/
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	font-size: 16px;
	line-height: 1.5;
	color: #ffffff;
	transition: background 0.3s, box-shadow 0.3s;
}

.item:hover {
	background: rgba(255, 255, 255, 1); /* Fully opaque on hover */
	color: darkgoldenrod;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
