/* FilmCard.module.css */

.film-card {
	max-width: 600px; /* Adjust as needed */
	margin: 0 auto; /* Center the card horizontally */
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.2); /* Semi-transparent white background */
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Example box shadow */
	backdrop-filter: blur(5px); /* Blur the background */
 }
 
 .film-card-content {
	display: flex;
	align-items: center;
 }
 
 .film-card-image {
	width: 200px; /* Adjust image width as needed */
	height: auto;
	margin-right: 20px; /* Add spacing between image and content */
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
 }
 
 .card-content {
	flex: 1; /* Allow the content to take remaining space */
 }
 
 .card-title {
	margin-bottom: 10px;
	font-size: 1.5rem;
 }
 
 .card-text {
	font-size: 1rem;
	line-height: 1.4;
 }
 