@import './variables.module.css';

.film-card {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: var(--medium-spacing);
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--shadow-color);
  backdrop-filter: blur(var(--blur-amount));
  position: relative;
  box-sizing: border-box;
}

.film-card-content {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.film-card-image {
  width: 200px;
  height: auto;
  margin-bottom: var(--medium-spacing);
  margin-right: 1rem;
  border-radius: var(--border-radius);
}

.card-content {
  flex: 1;
  text-align: center;
}

.card-title {
  margin-bottom: var(--small-spacing);
  font-size: 1.5rem;
}

.card-text {
  font-size: 1rem;
  line-height: 1.4;
}

/* Spotify Button Styling */
.spotify-button {
  margin-top: var(--small-spacing);
  padding: 10px 20px;
  color: var(--spotify-color);
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: uppercase;
  transition: color 0.3s ease, transform 0.2s ease;
}

.video-container iframe {
  border-radius: var(--border-radius);
}

.spotify-button:hover {
  color: var(--spotify-hover-color);
  transform: scale(1.05);
}
.spotify-button:hover i {
	color: var(--spotify-hover-color);
	transform: scale(1.05);
 }

.spotify-button:focus {
  outline: none;
}

.spotify-button i {
  margin-right: 5px;
  font-size: 1rem;
  color: var(--spotify-color);
}

/* Delete Button Styling */
.delete-button {
  position: absolute;
  top: var(--small-spacing);
  right: var(--small-spacing);
  background-color: var(--delete-button-color);
  color: var(--font-color-white);
  border: none;
  border-radius: 4px;
  padding: var(--small-spacing);
  cursor: pointer;
  font-size: 0.875rem;
}

.delete-button:hover {
  background-color: var(--delete-button-hover-color);
}

/* Media Queries for Responsive Design */

/* For tablets and small desktops */
@media (max-width: 1024px) {
  .film-card {
    width: 80%;
  }

  .film-card-image {
    width: 150px;
  }

  .card-title {
    font-size: 1.375rem;
  }

  .card-text {
    font-size: 0.9rem;
  }

  .spotify-button {
    width: auto;
    max-width: 200px;
    padding: 10px 18px;
    font-size: 0.875rem;
    margin: 0 auto;
    display: block;
  }
}

/* For smaller devices (tablets and phones) */
@media (max-width: 768px) {
  .film-card {
    width: 90%;
    flex-direction: column;
  }

  .film-card-content {
    flex-direction: column;
    align-items: center;
  }

  .film-card-image {
    width: 100%;
    height: auto;
    margin-bottom: var(--small-spacing);
    margin-right: 0;
  }

  .card-title {
    font-size: 1.25rem;
  }

  .card-text {
    font-size: 0.875rem;
  }

  .spotify-button {
    width: 100%;
    padding: 12px;
    font-size: 0.875rem;
    max-width: none;
    box-sizing: border-box;
  }

  .delete-button {
    position: static;
    margin-top: var(--small-spacing);
  }
}
