@import './variables.module.css';

.LoginFormContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: auto;
  padding: var(--medium-spacing);
}

.LoginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: var(--medium-spacing);
  background: var(--background-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px var(--shadow-color);
  backdrop-filter: blur(var(--blur-amount));
}

.InputWrapper {
  position: relative;
  margin-bottom: var(--large-spacing);
}

.LoginForm input {
  width: 100%;
  padding: var(--input-padding);
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  background-color: var(--input-bg-color);
  box-sizing: border-box;
}

.LoginForm button {
  padding: var(--button-padding);
  background-color: var(--primary-color);
  color: var(--font-color-darkgoldenrod);
  border: none;
  border-radius: var(--border-radius);
  cursor: pointer;
  font-size: 1rem;
}

.LoginForm button:hover {
  background-color: var(--primary-hover-color);
}

.Error {
  color: var(--error-color);
  font-size: 0.875rem;
  position: absolute;
  bottom: -30px;
  left: 0;
  width: 100%;
}
