@import './variables.module.css';

/* Desktop Styles */
.main-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.nav-button {
  cursor: pointer;
}

.nav-button,
.nav-button-active {
  font-size: larger;
  background-color: transparent;
  outline: none;
  border: none;
  width: 20rem;
  transition: font-size 0.5s ease-in-out;
  border-radius: 0;
  white-space: nowrap;
}

.nav-button-active {
  font-size: x-large;
  font-style: italic;
  border-bottom: 1px solid var(--font-color-white);
}

.nav-button:hover,
.nav-button-active:hover {
  font-size: x-large;
  outline: none;
  font-style: italic;
}

.nav-button:focus,
.nav-button-active:focus {
  background: transparent;
  outline: none;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .main-button-container {
    padding-right: 50vw;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    display: flex;
    gap: var(--small-spacing);
    scrollbar-width: none;
    -ms-overflow-style: none;
    box-sizing: border-box;
  }

  .main-button-container::-webkit-scrollbar {
    display: none;
  }

  .main-button-container > button {
    scroll-snap-align: center;
    flex-shrink: 0;
    margin: 0 50vw;
    transition: opacity 0.3s ease;
  }

  .carousel-active .nav-button {
    opacity: 0.5;
  }

  .carousel-active .nav-button-active {
    opacity: 1;
  }

  .nav-button-active:hover {
    border-bottom: none;
  }

  .nav-button-active {
    border-bottom: none;
  }
}
