.main-button-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 80px;
	/*padding: 0px 10px*/
}

.nav-button{
	cursor: pointer;
}

.nav-button,
.nav-button-active {
	font-size: larger;
	background-color: transparent;
	outline: none;
	border: none;
	width: 20rem;
	transition: font-size 0.5s ease-in-out;
	border-radius: 0px;
	white-space: nowrap;

}

.nav-button-active {
	font-size: x-large;
	font-style: italic;
	border-bottom: 1px solid white;
	

}

.nav-button:hover,
.nav-button-active:hover {
	font-size: x-large;
	outline: none;
	border: none;
	font-style: italic;
}

.nav-button:focus,
.nav-button-active:focus {
	background: transparent;
	outline: none;
	border-bottom: 1px solid white;
}

@media (max-width: 400px) {
	.main-button-container {
		flex-direction: column;
		height: auto; /* Adjust height to fit content */
		justify-content: center; /* Optional: center the items vertically */
	}
}